/* General Styling */
body {
  background-color: rgba(0, 0, 0);
  font-family: "Lusitana", sans-serif;
  min-width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

div {
  width: 100%;
  height: 100%;
}

h2,
h1 {
  font-family: "Raleway", sans-serif;
}

button {
  background-color: transparent;
  backdrop-filter: blur(30px);
  color: rgb(156, 227, 245);
  border: none;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: "Raleway", sans-serif;
}

button:hover,
a:hover,
.footer-button:hover,
.accordianSymbol:hover {
  font-size: 1rem;
  cursor: pointer;
}

textarea {
  width: 35rem;
  height: 15rem;
  max-width: 40rem;
  max-height: 20rem;
}

/* Navigation */
.navBar {
  position: relative;
  border: none;
}

.navBar button {
  border: none;
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

/* footer */

.footer {
  display: flex;
  color: rgb(210, 208, 208);
  position: sticky;
  bottom: 0;
  background-color: black;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  height: fit-content;
  z-index: 999;
}

.footer-part {
  text-align: center;
  margin-right: 3rem;
  font-size: 0.8rem;
}

.footer-part-email {
  text-align: center;
  margin-left: 5rem;
  font-size: 0.8rem;
}

.footer-button {
  background-color: transparent;
  border: none;
  color: rgb(210, 208, 208);
}

/* Homepage */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-image: radial-gradient(
      ellipse at bottom left,
      black 40%,
      rgba(0, 163, 203, 0) 10%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(0, 163, 203, 1) 30%,
      rgba(0, 163, 203, 0) 30%
    ),
    linear-gradient(
      to right,
      rgba(98, 87, 147, 1) 0%,
      rgba(98, 87, 147, 1) 33%,
      rgba(213, 93, 100, 1) 33%,
      rgba(213, 93, 100, 1) 66%,
      rgba(228, 145, 41, 1) 66%
    );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.headshot {
  height: 400px;
  width: 340px;
  border-radius: 50%;
  border: 10px solid transparentize(white, 0.5);
}

.cta {
  text-align: left;
  justify-content: center;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.content-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
  padding: 15px;
  width: fit-content;
  background-color: transparent;
  backdrop-filter: blur(30px);
}

.text {
  align-items: center;
  margin: 10px 0;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  color: white;
}

.text-project {
  align-items: center;
  margin: 10px 0;
  font-size: 60px;
  color: White;
}

/* contact me pop up */

.modal {
  font-size: 15px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid white;
  font-size: 25px;
  text-align: center;
  padding: 5px;
}
.modal > .message {
  width: 100%;
  padding: 10px 5px;
  color: white;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 30px;
  background: transparent;
  border-radius: 18px;
  color: white;
  border: none;
}

.popup-content {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(156, 227, 245, 0.5);
  backdrop-filter: blur(30px);
  width: fit-content;
  height: fit-content;
  padding: 2rem;
}

/* about me */

.aboutme {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin: 3rem 3rem 0.5rem 10rem;
}

.aboutmecontent {
  color: black;
  border-radius: 10px;
  background-image: radial-gradient(
      ellipse at bottom left,
      rgba(0, 163, 203, 1) 30%,
      rgba(0, 163, 203, 0) 30%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(0, 163, 203, 1) 30%,
      rgba(0, 163, 203, 0) 30%
    ),
    linear-gradient(
      to right,
      rgba(98, 87, 147, 1) 0%,
      rgba(98, 87, 147, 1) 33%,
      rgba(213, 93, 100, 1) 33%,
      rgba(213, 93, 100, 1) 66%,
      rgba(228, 145, 41, 1) 66%
    );
  padding: 2.5rem 4rem 2.5rem 4rem;
  max-width: 40vw;
  margin-right: 2.5rem;
  text-align: justify;
}

.aboutmephotodiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 55vh;
  padding: 3rem;
  border-radius: 10px;
}

.aboutmephoto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 23vw;
  height: 55vh;
  border-radius: 10px;
}

.contentborder {
  padding: 3rem 6rem 2rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);
}

.name {
  margin: 10px 0;
  font-size: 70px;
  color: black;
  font-family: "Raleway", sans-serif;
}

/* projects */

.projectsPage {
  display: flex;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  overflow-y: scroll;
  margin: 0rem 1rem 0rem 1rem;
}
.projectsPageTitle {
  margin: 10px 0;
  font-size: 70px;
  font-family: "Raleway", sans-serif;
}

.projects {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
}
.card {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: white;
  border-radius: 10px;
  color: white;
  padding: 2.5rem;
  width: 15vw;
  height: 30vh;
  margin-right: 3rem;
}

.cardactive {
  display: flex;
  border: solid;
  flex-direction: column;
  border-color: white;
  border-radius: 10px;
  color: white;
  padding: 2.5rem;
  width: 50vw;
  height: 60vh;
  margin: 3rem;
  padding: 10px;
  overflow-y: scroll;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 55vh;
  border-radius: 10px;
}

#title {
  margin: 1px;
}

.projecttext {
  justify-content: start;
}

.Link {
  padding: 10px;
  font-size: 12px;
  text-decoration: underline;
}
