* {
  color: white;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
      ellipse at bottom left,
      black 40%,
      rgba(0, 163, 203, 0) 10%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(0, 163, 203, 1) 30%,
      rgba(0, 163, 203, 0) 30%
    ),
    linear-gradient(
      to right,
      rgba(98, 87, 147, 1) 0%,
      rgba(98, 87, 147, 1) 33%,
      rgba(213, 93, 100, 1) 33%,
      rgba(213, 93, 100, 1) 66%,
      rgba(228, 145, 41, 1) 66%
    );
  background-size: cover;
  background-repeat: no-repeat;
}
.modal {
  font-size: 15px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid white;
  font-size: 25px;
  text-align: center;
  padding: 5px;
}
.modal > .message {
  width: 100%;
  padding: 10px 5px;
  color: black;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: transparent;
  border-radius: 18px;
  border: 1px solid white;
}

textarea {
  width: 35rem;
  height: 15rem;
  max-width: 40rem;
  max-height: 20rem;
}

.popup-content {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(156, 227, 245, 0.5);
  backdrop-filter: blur(30px);
  width: fit-content;
  height: fit-content;
  padding: 2rem;
}

.footer {
  display: flex;
  position: sticky;
  background-color: transparent;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  height: fit-content;
}

.footer-part {
  text-align: center;
  margin-right: 3rem;
  font-size: 0.8rem;
}

.footer-part-email {
  text-align: center;
  margin-left: 5rem;
  font-size: 0.8rem;
}

.footer-button {
  background-color: transparent;
  border: none;
  align-items: center;
}

button {
  background-color: transparent;
  backdrop-filter: blur(30px);
  color: rgb(156, 227, 245);
  border: none;
}

button:hover,
a:hover {
  font-size: 1rem;
  cursor: pointer;
}
.headshot {
  height: 400px;
  width: 340px;
  border-radius: 50%;
  border: 10px solid transparentize(white, 0.5);
}

.cta {
  text-align: left;
  justify-content: center;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.content-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
  padding: 15px;
  width: fit-content;
  background-color: transparent;
  backdrop-filter: blur(30px);
}

.text {
  align-items: center;
  margin: 10px 0;
  font-size: 100px;
  color: white;
}

.text-project {
  align-items: center;
  margin: 10px 0;
  font-size: 60px;
  color: White;
}

.card-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: purple;
  width: 30rem;
  height: 20rem;
  margin-left: 10%;
  margin-right: 60%;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card-left:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card-left.flip {
  --rotate-y: 180deg;
}

.card-left .front {
  left: 0;
}

.navBar {
  position: relative;
  background: transparent;
  border: none;
}

.navBar button {
  background-color: transparent;
  border: none;
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  background-color: transparent;
  list-style: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  background-color: transparent;
  backdrop-filter: blur(30px);
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

.card-left .front,
.card-left .back {
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: purple;
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  overflow-y: auto;
}

.card-left .back {
  transform: rotateY(180deg);
}
.card-left1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: purple;
  width: 30rem;
  height: 20rem;
  margin-left: 10%;
  margin-right: 60%;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card-left1:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card-left1.flip2 {
  --rotate-y: 180deg;
}

.card-left1 .front {
  left: 0;
}

.card-left1 .front,
.card-left1 .back {
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: purple;
  backdrop-filter: opacity(10%);
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  overflow: auto;
}

.card-left1 .back {
  transform: rotateY(180deg);
}
.card-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: purple;
  width: 30rem;
  height: 20rem;
  margin: 1rem;
  margin-left: 60%;
  margin-right: 20%;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  z-index: 1;
}

.card-right:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card-right.flip1 {
  --rotate-y: 180deg;
}

.card-right .front {
  left: 0;
}

.card-right .front,
.card-right .back {
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: purple;
  backdrop-filter: opacity(10%);
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  overflow: auto;
}

.card-right .back {
  transform: rotateY(180deg);
}

.project-img {
  height: 30vh;
  width: 30vw;
}

.projectTitle {
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: white;
}
div {
  width: 100%;
  height: 100%;
}
